<mat-card xmlns="http://www.w3.org/1999/html">
    <mat-card-content>
        <div class="row">
            <div class="col-xs-12">
                <app-shopping-edit></app-shopping-edit>
                <hr>
                <!--        <ul class="list-group"  *show="ingredients">-->
                <!--        <a class="list-group-item" -->
                <!--          style="cursor: pointer;"-->
                <!--          *ngFor="let item of ingredients;let i=index"-->
                <!--          (click)="onEditItem(i)"-->
                <!--          >-->
                <!--          {{item.name}} ({{item.amount}})-->
                <!--        </a>-->
                <!--        </ul>-->

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <!-- id Column -->
                        <ng-container matColumnDef="id" >
                            <th mat-header-cell *matHeaderCellDef >
                                <div fxLayout="column">
                                    <span mat-sort-header>{{'id' | uppercase}}</span>
                                    <mat-form-field >
                                        <input class="filter-input" matInput placeholder="Filter by id"
                                               (keyup)="applyFilter($event.target.value,'id')"/>
                                    </mat-form-field>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>
                                <div fxLayout="column">
                                    <span mat-sort-header>{{'name' | uppercase}}</span>
                                    <mat-form-field>
                                        <input class="filter-input" matInput placeholder="Filter by name"
                                               (keyup)="applyFilter($event.target.value,'name')"/>
                                    </mat-form-field>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef>
                                <div fxLayout="column">
                                    <span mat-sort-header>{{'description' | uppercase}}</span>
                                    <mat-form-field>
                                        <input class="filter-input" matInput placeholder="Filter by description"
                                               (keyup)="applyFilter($event.target.value,'description')"/>
                                    </mat-form-field>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="imagePath">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> imagePath</th>
                            <td mat-cell *matCellDef="let element">
                                <img [src]="element.imagePath" [height]="80" class="img-rounded">

                            </td>
                        </ng-container>

                        <!-- Update Column -->
                        <ng-container matColumnDef="process" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef>Process</th>
                            <td mat-cell *matCellDef="let element; let i = index;">
                                <button mat-stroked-button color="primary" (click)="onEditItem(i)">Edit</button>
                                <button mat-stroked-button color="accent">Cancel</button>
                                <button mat-stroked-button color="warn">Delete</button>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row ; columns: displayedColumns;"></tr>

                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="dataSource.data.length"  showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
